# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
/.git
/.ipython
/.local
/.pip
/.skynet
/.ssh
/.subversion

/.bash_history
/.mail*
/.sqlite_history
/.viminfo
/.zhistory
/.zcompdump

/*.txt
/*.gz
/*.py
/*.jpg
/*.png
/*.sh

/[a-zA-Z0-9_]*
